@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
  background-color: #C2B092;
  color: #EAE3C8;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
  color: #825959;
}

.buttons {
  text-align: center;
  height: 50px;
}

.enterNameBtn {
  position: absolute;
  margin-left: 120px;
  display: inline-block;
  width: 350px;
  height: 50px;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
}

.enterNameBtn-hide {
  display: none;
}

.enterNameBtn:hover {
  color: white;
  font-size: 35px;
}

.peopleBtn {
  position: absolute;
  margin-left: 450px;
  display: inline-block;
  width: 360px;
  height: 50px;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
}

.peopleBtn-hide {
  display: none;
}

.peopleBtn:hover {
  color: white;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: #EAE3C8;
}

a:hover {
  color: white;
}

.newBoardBtn {
  position: absolute;
  display: inline-block;
  right: 130px;
  width: 350px;
  height: 50px;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
}

.newBoardBtn-hide {
  display: none;
}

.newBoardBtn:hover {
  color: white;
  font-size: 35px;
}

.player-hide {
  display: none;
}

.name {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  font-size: 30px;
}

.submitBtn {
  position: absolute;
  margin-top: 0px;
  margin-left: 15px;
  width: 100px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
}

.submitBtn:hover {
  color: #A07676;
  font-size: 35px;
}

.submitBtn-hide {
  display: none;
}

.cancelBtn {
  position: absolute;
  margin-top: 0px;
  margin-left: 150px;
  width: 100px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
}

.cancelBtn:hover {
  color: #A07676;
  font-size: 35px;
}

.cancelBtn-hide {
  display: none;
}

input:focus {
  color: white;
  padding-right: 25px;
}

.winner {
  font-size: 30px;
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
}

.winner-hide {
  display: none;
}

.grid-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  text-align: center;
}

.grid-hide {
  display: none;
}

.grid-item {
  font-size: 75px;
  font-family: 'Quicksand', sans-serif;
}

#item0 {
  border-right: 5px solid #EAE3C8;
  border-bottom: 5px solid #EAE3C8;
}

#item1 {
  border-right: 5px solid #EAE3C8;
  border-bottom: 5px solid #EAE3C8;
  border-left: 5px solid #EAE3C8;
}

#item2 {
  border-left: 5px solid #EAE3C8;
  border-bottom: 5px solid #EAE3C8;
}

#item3 {
  border-right: 5px solid #EAE3C8;
  border-bottom: 5px solid #EAE3C8;
  border-top: 5px solid #EAE3C8;
}

#item4 {
  border: 5px solid #EAE3C8;
}

#item5 {
  border-top: 5px solid #EAE3C8;
  border-bottom: 5px solid #EAE3C8;
  border-left: 5px solid #EAE3C8;
}

#item6 {
  border-right: 5px solid #EAE3C8;
  border-top: 5px solid #EAE3C8;
}

#item7 {
  border-right: 5px solid #EAE3C8;
  border-top: 5px solid #EAE3C8;
  border-left: 5px solid #EAE3C8;
}

#item8 {
  border-top: 5px solid #EAE3C8;
  border-left: 5px solid #EAE3C8;
}

.result {
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.restart-game {
  position: absolute;
  display: inline-block;
  margin-top: 50px;
  margin-left: -300px;
  width: 300px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
  background-color: transparent;
}

.restart-game:hover {
  color: white;
  font-size: 35px;
}

.gameBtn-hide {
  display: none;
}

.changeNameBtn {
  position: absolute;
  display: inline-block;
  margin-left: 50px;
  margin-top: 25px;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  border: none;
  background-color: #C2B092;
  text-align: center;
  color: #EAE3C8;
  background-color: transparent;
}

.changeNameBtn-hide {
  display: none;
}

.changeNameBtn:hover {
  color: white;
  font-size: 35px;
}

.fireworks {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.fireworks-hide {
  display: none;
}

.rain {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.rain-hide {
  display: none;
}

.handshake {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.handshake-hide {
  display: none;
}
